extends layout

block content
    h1.text-center.text-white Welcome to the #{title} Gallery
    .container.mt-4
        .row
            each image in images
                .col-md-4.mb-4
                    img.img-thumbnail(src=`${image.url}`, alt=`${image.title}`)