doctype html
html(lang="en")
    head
        title Relaxation Station
        link(rel='icon' type='image/x-icon' href='/icon/icon.jpg')
        link(rel='stylesheet', type="text/css", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel='stylesheet', type="text/css", href="/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

    body.bg-dark
        include navbar
        block content
        include footer

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")