extends layout

block content
  .container.text-center.mt-5
    h1.text-danger Under Maintenance
    p.text-muted Please check back soon!
    img(src='/images/maintenance2.png', alt='Maintenance Image', style='max-width: 100%;')